.popup__slider-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 330px;
    margin: 12px 0 0;
    list-style-type: none;
    padding: 0;
}
