@import url('../vendor/normalize.scss');
@import url('../blocks/page.scss');
@import url('../blocks/popup.scss');
@import url('../blocks/footer.scss');
@import url('../blocks/navigation.scss');
@import url('../blocks/header.scss');
@import url('../blocks/main.scss');
@import url('../blocks/cards-list.scss');
@import url('../blocks/card.scss');

*,
*::before,
*::after {
    box-sizing: border-box;
}

$badge-new: #64bd38;
$active: red;
$input-background: #f2f2f3;
$background-light: white;
$background-dark: #1c1819;
$text-dark: #1c1819;
$text-light: white;
$accent: #2a81dd;
$balance-background: #f0fafd;
$balance-title: #888b94;
$label-background: #d6ecfb;
$button-add: #eff8eb;
$button-how: #fffae7;
$button-gift: #e9f2fb;
$buttor-border: #e9e9e9;
