.card {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    position: relative;
    background-color: white;
    transition: all 0.2s ease;
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.03);
    z-index: 999;
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    cursor: pointer;
}

.card:hover .card__button {
    opacity: 1;
    visibility: visible;
}

.card:hover .card__price {
    color: red;
}

.card__image_new {
    position: absolute;
    bottom: 16px;
    left: 16px;
    background-color: #64bd38;
    text-transform: uppercase;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.card__image-container {
    position: relative;
}

.card__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #2a81dd;
    transition: all 0.2s ease;
}

.card__info {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.card__title {
    margin: 8px 0 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__scale {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
}

.card__button {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a81dd;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px 0;
    width: 100%;
    transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
}

.card__button:hover {
    opacity: 0.8;
    cursor: pointer;
}
