.footer {
    background-color: #1c1819;
    color: white;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 20px 32px;
    margin: 0 auto;
}

.footer__social {
    display: flex;
    flex-direction: column;
}

.footer__social-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.footer__social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__social-list-item {
    width: 24px;
    height: 24px;
}

.footer__social-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    transition: all 0.2s ease;
}

.footer__social-link:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.footer__social-link_instagram {
    background-image: url('../images/instagram.svg');
}

.footer__social-link_youtube {
    background-image: url('../images/youtube.svg');
}

.footer__social-link_vk {
    background-image: url('../images/vk.svg');
}

.footer__info {
    display: flex;
    align-items: center;
}

.footer__info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__info-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer__link {
    background-color: white;
    min-width: 150px;
    padding: 6px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: rgba(42, 129, 221, 1);
    border: 1px solid #1c1819;
    border-radius: 8px;
    transition: all 0.2s ease;
    margin-left: 64px;
}

.footer__link:hover {
    opacity: 0.8;
}
