.footer {
    background-color: $color-background-dark;
    color: $color-text-light;
    margin-top: auto;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        padding: 20px 32px;
        margin: 0 auto;
    }

    &__social {
        display: flex;
        flex-direction: column;
    }

    &__social-title {
        @include main-text;
    }

    &__social-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__social-list-item {
        width: 24px;
        height: 24px;
    }

    &__social-link {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        transition: all 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        &_instagram {
            background-image: url('../images/instagram.svg');
        }

        &_youtube {
            background-image: url('../images/youtube.svg');
        }

        &_vk {
            background-image: url('../images/vk.svg');
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__info-subtitle {
        @include main-subtext;
    }

    &__link {
        background-color: $color-background-light;
        min-width: 150px;
        padding: 6px 0;

        @include main-subtext;

        text-align: center;
        text-decoration: none;
        color: $color-accent;
        border: 1px solid $color-buttor-border;
        border-radius: 8px;
        transition: all 0.2s ease;
        margin-left: 64px;

        &:hover {
            opacity: 0.8;
        }
    }
}
