.popup__balance {
    background-color: #f0fafd;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 196px;
    padding: 8px 16px;
    border-radius: 16px;
}

.popup__balance::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: -4px;
    background-image: url('../../../images/bags.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
